
<div class="jumbotron vertical-center">
  <div class="container text-center">
    <img src="http://via.placeholder.com/350x350" alt="logo" />
    <br/>
    <br/>

    <%= link_to 'View Some Food!', store_index_path, class: 'btn btn-primary' %>
  </div>
</div>
