<!-- Splash Image -->
<div class="row">
  <%#= image_tag 'doughnut-bg', class: 'landing-page-image' %>

  <div class="landing-page-background">
    <span>
      <h3>Taste the best food in the country, from the comfort of your own home!</h3>
      <%= link_to store_index_path do %>
      <button class="button big">Shop</button>
      <% end %>
    </span>
  </div>

</div><!-- ./row -->



<%= render 'popular_cities'  %>





<%= render 'by_flavor' %>
