<div class="row">
  <%#= image_tag 'doughnut-bg', class: 'landing-page-image' %>

  <div class="landing-page-background">
    <span>
      <h3>Taste the best food in the country, from the comfort of your own home!</h3>
      <%= link_to 'View Some Food!', store_index_path, class: 'btn btn-primary' %>
    </span>
  </div>

</div>
