/*********************
VARIABLES
*********************/

$orange: #f49b42;
$aqua: #1d9ee0;
$dark-aqua: #1575A7;
$white: #FFFFFF;

/*********************
Fonts
*********************/

// https://gist.github.com/tagrudev/4276467
$aileron_light: 'Aileron-Light';

@font-face{
    font-family: 'Aileron-Light';
    src: font-url("Aileron-Light.otf") unquote("format('opentype')");
    font-weight: lighter;
    font-style: normal;
}


/*********************
BREAKPOINTS
*********************/

@mixin for-mobile {
  /* Larger than mobile */
  @media (min-width: 400px) and (max-width: 549px) { @content; }
}

@mixin for-tablet {
  /* Larger than tablet */
  @media (min-width: 550px) and (max-width: 999px) { @content; }
}

@mixin for-desktop {
  /* Larger than desktop */
  @media (min-width: 1000px) { @content; }
}



/*********************
BREAKPOINT EXAMPLES
*********************/

/*
.navigation-bar {
  @include for-mobile { background-color: purple; }
}
*/


/* Full list of includes

@include for-mobile {}
@include for-tablet {}
@include for-desktop {}


*/
