/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// resets

html, body
{
  margin: 0 !important;
  padding: 0 !important;
}

// navigation bar styling
 .navbar-brand {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     text-align: center;
     margin: auto;
 }
 .navbar-toggle {
     z-index:3;
 }

 .navbar {
   padding-bottom: 0;
   margin-bottom: 0;
 }

 // social media links
 #social-media-links {
  //  background-color: gray;
  //  width: 30%;
   border: 1px solid black;
 }

// jumbotron
.vertical-center {
  min-height: 70vh;
  // min-height: 100%;
  display: flex;
  align-items: center;

  img {
    margin-top: -5vh;
  }

}
