/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 // custom font's
 @import "fonts";
 $aileron_light: 'Aileron-Light';

 // SASS Vars
$orange-bg: #f49b42;
$white: #FFFFFF;


 // general text sizing
 html {
   font-size: 16px;
 }

// resets

html, body
{
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

// logo

 .title-header {
   background-color: $orange-bg;
   margin: 0;
   padding-bottom: 25px;

   .logo {
     font-family: $aileron_light;
     font-size: 12rem;
    // font-size: 9em;
     color: #FFFFFF;
   }

   .logo:hover {
     text-decoration: none;
   }
 }


// navigation bar styling
 .navbar-brand {
     position: absolute;
     width: 100%;
     left: 0;
     top: 0;
     text-align: center;
     margin: auto;
 }
 .navbar-toggle {
     z-index:3;
 }

 .navbar {
   padding-bottom: 0;
   margin-bottom: 0;
 }

 // social media links
 #social-media-links {
   img {
     width: 3.5%;
     height: 3.5%;
   }

 }

// landing page background

.landing-page-background {
background-image: asset_url('doughnut-bg');
background-size: cover;
background-position: right;
width: 100%;
height: 60vh;
text-align: center;
overflow: hidden;

  span {
     display: block;
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     h3 {
       color: $white;
     }
  }
}


// Popular City Links
.popular-city-link {
  font-size: 1.65rem;
}


.popular-city-link:nth-child(odd) {
    color: blue;
  }

.popular-city-link:nth-child(even) {
    color: red;
  }
// .popular-city-link:nth-child(even)::after {
//   content:
// }


// By Flavor


.table-of-images {
  tr {
    width: 100%;
    td {
      width: 30%;
      img {
        width: 100%;
        height: auto;

      }
    }
  }
}
