// https://gist.github.com/tagrudev/4276467

@font-face{
    font-family: 'Aileron-Light';
    src: font-url("Aileron-Light.otf") unquote("format('opentype')");
    font-weight: lighter;
    font-style: normal;
}
